.Grid {
  padding: 5px;
  margin: 10px;
  background: #baa;
  width: 338px;
  margin: auto;
  border-radius: 7px;
}

.Grid-row {
  display: flex;
  justify-content: center;
}

.Grid-tile {
  width: 76px;
  height: 76px;
  line-height: 76px;
  align-items: center;
  border: solid 1px #ccc;
  border-radius: 4px;
  text-align: center;
  margin: 3px;
  font-size: 48px;
  font-weight: bold;
  color: #666;
  background: rgba(238, 228, 218, 0.35);
  transition: background 0.3s, color 0.3s ease-in, font-size 0.5s ease-in-out;
}

.tile-2 {
  background: #eee;
}

.tile-4 {
  background: #eec;
}

.tile-8 {
  color: #ffe;
  background: #fb8;
}

.tile-16 {
  color: #ffe;
  background: #f96;
  font-size: 42px;
}

.tile-32 {
  color: #ffe;
  background: #f75;
  font-size: 42px;
}

.tile-64 {
  color: #ffe;
  background: #f53;
  font-size: 42px;
}

.tile-128 {
  color: #ffe;
  background: #ec7;
  font-size: 38px;
}

.tile-256 {
  color: #ffe;
  background: #ec6;
  font-size: 38px;
}

.tile-512 {
  color: #ffe;
  background: #ec5;
  font-size: 38px;
}

.tile-1024 {
  color: #ffe;
  background: #ec3;
  font-size: 30px;
}

.tile-2048 {
  color: #ffe;
  background: #ec1;
  font-size: 30px;
}

.tile-4096 {
  color: #ffe;
  background: rgb(53, 196, 89);
  font-size: 30px;
}
