body {
  background-color: #faf8ef;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.heading {
  text-align: center;
  color: #666;
  font-size: 40px;
}

.hint {
  margin-top: 10px;
  text-align: center;
  color: #999;
  font-weight: bold;
}